body {

    text-align: center;

    margin: 0;

    padding: 0;

    font-family: Arial;

    background: linear-gradient(to bottom, #EE5921, #FFA600);

    background-image: url(shinobudesk.jpg);

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center;

    background-repeat: no-repeat;

    height: 100vh;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

a {
    display: block;
    margin: 15px 0;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: #f0f0f0;
}



.icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;

}

div {
    height: 750px;
    background-image: url(desktopshen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover ;
    background-size: 100% 100%;
}
a {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 3s ease-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


